<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img">
                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
               
                <li class="sidebar-item">
                    <a asp-controller="Home" asp-action="Index" class="sidebar-link" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Anasayfa</span>
                    </a>
                </li>
                
                <li class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Arama">
                    <a class="btn btn-outline-primary" type="button" id="button-addon2"><i class="bi bi-search"></i></a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Category" asp-action="Index" class="sidebar-link" aria-expanded="false">
                        <span>
                            <i class="ti ti-tags"></i>
                        </span>
                        <span class="hide-menu">Kategoriler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="Product" asp-action="Index" class="sidebar-link"  aria-expanded="false">
                        <span>
                            <i class="ti ti-tags"></i>
                        </span>
                        <span class="hide-menu">Tüm Ürünler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="#" asp-action="#" class="sidebar-link"  aria-expanded="false">
                        <span>
                            <i class="ti ti-alert-circle"></i>
                        </span>
                        <span class="hide-menu">Müşteriler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="#" asp-action="#" class="sidebar-link" aria-expanded="false">
                        <span>
                            <i class="ti ti-cards"></i>
                        </span>
                        <span class="hide-menu">Yönetim</span>
                    </a>
                </li>
                
            </ul>
            
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>